<%- include('_layouts/header'); %>

<div class="small-container single-product">
    <div class="row">
      <div class="col-2">
        <img src="/images/product_imgs/<%= p.id %>/<%= p.image %>" alt="" width="100%" id="ProductImg">
        <div class="small-img-row">
          <% galleryImages.forEach(function(image){%>
              <%if(image!="thumbs"){%>
                <div class="small-img-col">
                  <img src="/images/product_imgs/<%= p.id %>/gallery/thumbs/<%=image%>" alt="" width="100%" class="small-img">
                </div>
              <%}%>
          <%});%>

        </div>
      </div>
      <div class="col-2">
        <h1><%=p.title%></h1>
        <h4>$<%=parseFloat(p.price).toFixed(2)%></h4>
        <h3>Product Details</h3>
        <br>
        <p><%-p.desc%></p>
        <% if(loggedIn){%>
          <a href="/cart/add/<%=p.slug%>" class="btn">Add to cart</a>
        <%}else{%>
          <h4>You must be logged in</h4>
        <%}%>

      </div>
    </div>
</div>


<%- include('_layouts/footer'); %>
